<html>
    <body>
        <h1>Account aanmaken</h1>

        <br>

        {{ if .Errors }}
            <p>Errors:</p>
            <ul>
                {{ range .Errors }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}

    <form action="/create-account" method="POST">

        <label for="name">Naam:</label><br>
        <input type="text" name="name"><br> 

        <label for="code">IBAN nummer:</label><br>
        <input type="text" name="code" min="1" max="100" step="1"><br> 

        <label for="maxcredit">Maximale debet:</label><br>
        <input type="number" name="amount" min="1" max="1000" step="1"><br> 

        <label for="pincode">Pincode:</label><br>
        <input type="number" name="amount" min="1" max="9999" step="1" maxlength="4"><br> 
        
        <br>
        
        <input type="submit" value="Account aanmaken">

    </form>
</body>
</html>