<html>
    <body>
        <h1>Create account</h1>

        {{ if .Errors }}
            <p>Errors:</p>
            <ul>
                {{ range .Errors }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}

    <form action="/create-account" method="POST">
        <br>
        <label for="name">Name:</label><br>
        <input type="text" name="name"><br> 
        <br>
        <label for="code">IBAN code:</label><br>
        <input type="text" name="code" min="1" max="100" step="1"><br> 
        <br>
        <label for="maxcredit">Maximum debet: (Example: -20)</label><br>
        <input type="number" name="maxcredit" min="-1000" max="-0" step="1"><br> 
        <br>
        <label for="pincode">Pincode:</label><br>
        <input type="password" name="pincode" min="1" max="9999" maxlength="4"><br> 
        
        <br>
        
        <input type="submit" value="Create account">

    </form>
</body>
</html>