<html>
    <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    <body>

        <a href="/show-welcome.html">
            <button>Terug</button>
         </a>
         
        <div>
            <h1>Transactions:</h1>

            
            <table>
                <tr>
                    <th>Amount</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
                {{range . }}
            <tr>
                <td>€ {{ .Amount}} </td>
                <td>{{ .Type}} </td>
                <td>{{ .Description}} </td>
            </tr>
                {{end}}
            </table>
        </div>

    </body>

</html>