<html>

    <body>
        
        <h1>Login</h1>

        {{ if .Errors }}
        <p>Errors:</p>
        <ul>
            {{ range .Errors }}
                <li>{{ . }}</li>
            {{ end }}
        </ul>
    {{ end }}
    
        <form action="/login" method="POST">
        
            <label for="account_id">Account (id):</label><br>
            <input type="number" name="account_id"><br>

            <br>

            <label for="pincode">Pincode voor account:</label><br>
            <input type="number" name="pincode"><br>

            <br>

            <input type="submit" value="Inloggen">

        </form>

    </body>

</html>