<html>

    <body>
        
        <h1>Welcome!</h1>

        You are logged in with account id "{{ .Account.ID }}" and IBAN "{{ .Account.Code }}"

        <hr>

        <a href="/saldo">
            Saldo
        </a>

        <br>

        <a href="/transactions">
            Transactions
        </a>

        <br>

        <a href="/withdrawal">
            Withdrawal
        </a>

        <br>

        <a href="/transfer">
            Transfer
        </a>

        <hr>

        <a href="/import-transactions">
            Import transactions
        </a>

        <br>

        <form action="/logout" method="POST">
        
            <button type="button">Uitloggen</button>
            <input type="submit" value="Uitloggen">

        </form>

    </body>

</html>